 <div class="card col-md-4 col-sm-6 red-title"  *ngFor="let card of cardContainer" [style.padding-top.px]="15">
    <img class="img-responsive center-block" [src]="getImage(card)"  alt="Card image cap" width="318" height="180">
    <div class="card-block">
      <h4 class="card-title">Washing Machine</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="['/itemReview', card]" class="btn btn-primary">Go <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
  </div>