<div [style.marginTop.px]="50" [style.marginBottom.px]="30">
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        About <small>Meet to our team</small></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
      <div class="row text-center">
        <div class="col-md-4 col-sm-6">
          <img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSohr1rfzOnhAwpsvny4MC2gLkKxWyRN7IkszzQR4tThT3wen6F" alt="Generic placeholder image" width="140" height="140">
          <h2>Kiran Shinde</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4 col-sm-6">
          <img class="img-circle" src="https://lh3.googleusercontent.com/-Ek3SD-mkoDE/AAAAAAAAAAI/AAAAAAAAACY/GAEq53sSFyY/s640/photo.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Kashif Tamboli</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
         
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4 col-sm-6">
          <img class="img-circle" src="http://www.achill247.com/images/Roadside_Cottages_400x341.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Paul Hengrik</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>